

.team-heading {
  max-width: 55%;
  display: flex;
  justify-self: center;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-heading {
  width: 40%;
}
.about-image {
  width: 571px;
  height: 520px;
  border-radius: 24px;
  background: var(--color-blue-300);
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.our-team-card {
  display: flex;
  flex-direction: column;
}

.value-container {
  display: flex;
  justify-content: space-between;
}
.about-our-value-heading {
  margin-bottom: var(--sp-56);
}
.about-our-value-container {
  background: var(--color-blue-300);

  margin-inline: var(--sp-50);
}
.about-our-team-heading {
  margin-bottom: var(--sp-56);
}
.our-team-cards-container {
  display: flex;
  gap: var(--sp-40);
  justify-content: center;
  flex-wrap: wrap;
}
.about-metric-container {
  display: grid;
  gap: 50px;
  padding-bottom: 0px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
// .about-our-team-parent-container {
//   padding-bottom: 0px;
// }

@media screen and (max-width: 767px) {
  .team-heading {
    max-width: 100%;
    // text-align: start;
  }
  .about-container {
    flex-direction: column;
  }
  .about-heading {
    width: 100%;
  }
  .value-container {
    flex-direction: column;
    gap: var(--sp-24);
  }
  .about-image {
    width: 100%;
    height: 267px;
    margin-top: var(--sp-16);
    // display: none;
  }
  .about-our-value-container {
    margin-inline: 0px;
  }
  .about-spacing-two{
    padding-top: 0px;
  }
  .about-metric-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


@media screen and (max-width: 767px) {
  .about-image {
    display: none;
  }
  .about-heading {
    width: 100%;
  }
}