.lable {
    display: inline-block;
    padding: var(--sp-8) var(--sp-16);
    font-size: 16px;
    font-family: var(--font-jakarta);
    font-weight: 400;
    line-height: 150%;
    border-radius: var(--radius-md);
    background-color: var(--color-blue-300);
    color: var(--color-black-400);
  }
  
  @media (max-width: 600px) {
    .lable {
      font-size: 14px;
    }
  }
  