.primary {
  font-size: 48px;
  line-height: 1.4;
  font-weight: 400;
  color: var(--color-green);
  font-family: var(--font-bitcount-grid-single);
}

@media (max-width: 1440px) {
  .primary {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    
    
  }
}

@media (max-width: 1024px) {
  .primary {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    
    
  }
}

@media (max-width: 768px) {
  .primary {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    color: var(--color-purple);
    font-family: var(--font-ysabeau-infant);
  }
}